.site--header{
    background-color: aqua;
    
    color:black;
    height: 500vh;
    font-family: monospace;
    display: flex;
    
    
}
.site--header--content{
    margin: 1rem;
    
}
.profile--pic{
    border:4px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.course-link{
    color:black;
}
body{
    margin: 0em;
}